/* General Styles */
body {
    background-color: #f4f6f9; /* Light grey background for the entire page */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Clean and professional font */
    color: #333;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Sidebar */
.sidebar {
    background: linear-gradient(135deg, #003366, #0066cc); /* Gradient to match login */
    color: white;
    min-height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

/* Main Panel */
main {
    margin-left: 15%;
    padding: 20px;
}

header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.25em;
    margin: 0;
    color: #003366; /* Dark blue to match the sidebar */
}

.container-fluid {
    margin-top: 50px;
}

/* Card Styles */
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 10px;
}

/* Button Styles */
.evaluate-button {
    background-color: #003366; /* Navy blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: inline-block;
}
.evaluate-button:hover {
    background-color: #8fb1d4; /* Darker navy blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#reset-button {
    
    background-color: #003366; /* Navy blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
}

/* Hover state */
#reset-button:hover {
    background-color: #5a6268; /* Darker gray background */
    border-color: #545b62; /* Darker gray border */
}

/* Disabled state */
#reset-button:disabled {
    background-color: #e9ecef; /* Light gray background */
    color: #6c757d; /* Gray text */
    border-color: #ced4da; /* Light gray border */
    cursor: not-allowed; /* Not allowed cursor */
}

/* Progress Bar */
.progress-container {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    width: 0;
    height: 30px;
    background-color: #003366;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    transition: width 0.5s ease;
}

.progress-text {
    display: block;
}

/* Tooltip Styles */
.tooltip-icon {
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    color: #003366; /* Navy blue */
    position: relative;
}
.tooltip-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White */
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1000;
    border-radius: 5px;
    font-size: 12px;
    max-width: 200px;
    left: 0;
    top: 25px; /* Adjusted for better visibility */
}
.tooltip-icon:hover .tooltip-content,
.tooltip-content:hover {
    display: block;
}

.text-center {
    text-align: center;
}

.text-center-strong {
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden; /* Prevent overlap */
}
.tag {
    background: #003366; /* Navy blue */
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer; /* Change cursor to pointer for clickable tags */
    white-space: nowrap; /* Prevent text wrapping */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tag.non-matching {
    background: #b0bec5; /* Light grey */
}
.tag:hover {
    background-color: #306191; /* 002244 Darker navy blue on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-auto {
    margin-top: auto;
}

.text-small {
    font-size: 0.9rem;
}

.keyword-density-chart {
    width: 100%;
    height: 300px;
}
.keyword-bar {
    
    background-color: #ebdada34; 
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer; /* Change cursor to pointer for clickable tags */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    
}
.keyword-bar:hover {
    background-color: #306191; /* 002244 Darker navy blue on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.card-full-width {
    width: 100%;
    margin-bottom: 20px;
}
.full-width-section {
    width: 100%;
}

/* Custom styles for card dimensions */
.card-chart {
    width: 260px !important; 
}
.card-chart .card-body {
    padding: 0;
}
canvas {
    width: 100% !important;
    height: 260px !important; /* Adjust height as needed */
}
/* Ensure that the card fits within its column */
.card-full-width {
    margin-top: 0;
    width: 100%;
}
.no-top-margin {
    margin-top: 0;
}