<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- Custom Styles -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2BN713JG7N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2BN713JG7N');
</script>



</head>
<body>
    <div class="container">
        <h1 class="mt-5">Payment Error</h1>
        <p>There was an error processing your payment. Please try again.</p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
</body>
{% include 'footer.html' %}
</html>
